/* Add this CSS to your 'resume.css' or in a <style> tag in your component */

.resume-container {
  font-family: 'Inconsolata', monospace;
  justify-content: center;
  align-items: center;
  /* Ensure the container takes up at least the full viewport height */
  background-color: black; /* Set the background color to black */
}

.under-construction {
  text-align: center;
}

/* You might need to adjust this media query breakpoint to match your desired mobile view */
@media (max-width: 768px) {
  .resume-container {
    min-height: 85vh; /* Set the minimum height to the viewport height on mobile */
  }
}
